body{
    padding: 50px;
    background-image: url(asset/home-background.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.container{
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    background-color: white; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.form-group{
    margin-bottom: 20px;
}

h1{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

h2{
    color: black;
    margin-bottom: 30px;
}
